body{
    background: linear-gradient(to bottom right, #006699 0%, #00cc99 100%);
    background-repeat: no-repeat;
    height: 937px;
}
.navbar { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	position: fixed; 
	top: 0; 
	width: 100%; 
	background: linear-gradient(to bottom right, #009999 0%, #4980b8 100%);
	background-color: transparent; 
    left: 0;
} 

.logo { 
	padding: 0 5rem; 
} 

.logo .logo-heading { 
	color: #fff; 
    position: absolute;
    left: 2.5%;
    top: -10px;
    font-size: xx-large;
    animation-name: fadein;
    animation-duration: 4s;
    animation: fadeIn 2.5s ease-in-out forwards;
} 

.code{
  position: absolute;
  height: 150%;
  top:-24%;
  left: 8%;
  animation-name: fadein;
  animation-duration: 4s;
  animation: fadeIn 2.5s ease-in-out forwards;
}

.menu { 
	padding: 0 5rem;
} 

.menu .menu-list { 
	display: flex; 
	list-style: none; 
  font-family:'Courier New', Courier, monospace; 
} 

.menu-list .menu-list-items { 
	padding: 0.5rem 1rem;
  animation-name: example;
  animation-duration: 4s;
  animation: fadeIn 2.5s ease-in-out forwards;
} 
.links{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.image{
    position: absolute;
    left: 55%;
    top: 15%;
    width: 40%;
    height: 75%;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation: fadeIn 2.5s ease-in-out forwards;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
/* Style for container for text*/
.welcome{
    position: absolute;
    top: 29%;
    left: 18%;
    font-size: 60px;
    text-align: center;
    color: black;
    font-family:'Courier New', Courier, monospace;
    animation-name: example;
    animation-duration: 4s;
    animation: fadeIn 2.5s ease-in-out forwards;
    opacity: 0.5;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .text-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .self{
    position: absolute;
    font-size: 50px;
    color: Black;
    font-family:'Courier New', Courier, monospace;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation: fadeIn 2.5s ease-in-out forwards;
    text-align: center;
    top: 43%;
    left: 12%;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .name{
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    animation-name: example;
    animation-duration: 4s;
    animation: fadeIn 2.5s ease-in-out forwards;
    font-weight: bolder;
    text-shadow: 5px 5px 20px wheat;
  }
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* about me */
  .container{
    background: linear-gradient(to bottom, #669999 0%, #009999 100%);
    width: 30%;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
    top: 200%;
    left: 10%;
    height: 40%;
    position: absolute;
    color: white;
    font-size: 20px;
    text-align: justify;
  }
   

    /* Footer styles */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        animation-name: example;
        animation-duration: 4s;
        animation: fadeIn 2.5s ease-in-out forwards;
      }
    
      /* Center text in footer */
      footer p {
        margin: 0;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }